# exclude everything
# except directory:
# views/personal
# controllers/Personal
# models/Personal


/*
!/controllers
/controllers/*
!/controllers/Personalverwaltung

!/models
/models/*
!/models/Pe_work

!/views
/views/*
!/views/personalverwaltung/*

!/views/personalverwaltung
/views/personalverwaltung/*
!/views/personalverwaltung/*
